<div class="ourCars">

<!--    <div class="ourCars-slider flex">-->
<!--        <div>-->
<!--            <div class="car">-->
<!--                <div class="car-img">-->
<!--                    <a href="#">-->
<!--                        <img src="/assets/car1.png" alt="">-->
<!--                    </a>-->
<!--                </div>-->
<!--                <div class="car-title">-->
<!--                    <a href="#">Car</a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div>-->
<!--            <div class="car">-->
<!--                <div class="car-img">-->
<!--                    <a href="#">-->
<!--                        <img src="/assets/car2.png" alt="">-->
<!--                    </a>-->
<!--                </div>-->
<!--                <div class="car-title">-->
<!--                    <a href="#">Classics</a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div>-->
<!--            <div class="car">-->
<!--                <div class="car-img">-->
<!--                    <a href="#">-->
<!--                        <img src="/assets/car3.png" alt="">-->
<!--                    </a>-->
<!--                </div>-->
<!--                <div class="car-title">-->
<!--                    <a href="#">Convertibles</a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div>-->
<!--            <div class="car">-->
<!--                <div class="car-img">-->
<!--                    <a href="#">-->
<!--                        <img src="/assets/car4.png" alt="">-->
<!--                    </a>-->
<!--                </div>-->
<!--                <div class="car-title">-->
<!--                    <a href="#">Sport</a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div>-->
<!--            <div class="car">-->
<!--                <div class="car-img">-->
<!--                    <a href="#">-->
<!--                        <img src="/assets/car2.png" alt="">-->
<!--                    </a>-->
<!--                </div>-->
<!--                <div class="car-title">-->
<!--                    <a href="#">Classics</a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div>-->
<!--            <div class="car">-->
<!--                <div class="car-img">-->
<!--                    <a href="#">-->
<!--                        <img src="/assets/car3.png" alt="">-->
<!--                    </a>-->
<!--                </div>-->
<!--                <div class="car-title">-->
<!--                    <a href="#">Convertibles</a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
    <div class="friends flex">
        <div class="car">
            <div class="car-img">
                <a href="#">
                    <img src="/assets/f1.png" alt="">
                </a>
            </div>
            <div class="car-title">
                <a href="#">Mercedes-Benz</a>
            </div>
        </div>
        <div class="car">
            <div class="car-img">
                <a href="#">
                    <img src="/assets/f2.png" alt="">
                </a>
            </div>
            <div class="car-title">
                <a href="#">BMW</a>
            </div>
        </div>
        <div class="car">
            <div class="car-img">
                <a href="#">
                    <img src="/assets/f3.png" alt="">
                </a>
            </div>
            <div class="car-title">
                <a href="#">Bentley</a>
            </div>
        </div>
        <div class="car">
            <div class="car-img">
                <a href="#">
                    <img src="/assets/f4.png" alt="">
                </a>
            </div>
            <div class="car-title">
                <a href="#">Audi</a>
            </div>
        </div>
        <div class="car">
            <div class="car-img">
                <a href="#">
                    <img src="/assets/f5.png" alt="">
                </a>
            </div>
            <div class="car-title">
                <a href="#">Acura</a>
            </div>
        </div>
        <div class="car">
            <div class="car-img">
                <a href="#">
                    <img src="/assets/f6.png" alt="">
                </a>
            </div>
            <div class="car-title">
                <a href="#">Aston Martin</a>
            </div>
        </div>
        <div class="car">
            <div class="car-img">
                <a href="#">
                    <img src="/assets/f2.png" alt="">
                </a>
            </div>
            <div class="car-title">
                <a href="#">BMW</a>
            </div>
        </div>
        <div class="car">
            <div class="car-img">
                <a href="#">
                    <img src="/assets/f3.png" alt="">
                </a>
            </div>
            <div class="car-title">
                <a href="#">Bentley</a>
            </div>
        </div>
        <div class="car">
            <div class="car-img">
                <a href="#">
                    <img src="/assets/f4.png" alt="">
                </a>
            </div>
            <div class="car-title">
                <a href="#">Audi</a>
            </div>
        </div>
    </div>
</div>
