<final-price-layout>
    <div class="FPmodal">
        <div class="FPmodal-title">Welcome back</div>
        <div class="FPmodal-content">
            <div class="FPmodal-row space-between">
                <div class="FPmodal-cell">
                    <div class="FPmodal-cell-title">
                        <img src="images/icons/mail.svg" alt="">
                        Email
                    </div>
                    <input type="text" placeholder="Email">
                </div>
                <div class="FPmodal-cell">
                    <div class="FPmodal-cell-title">
                        <img src="images/icons/password.svg" alt="">
                        Password
                        <a href="#" class="link">Forgot your password?</a>
                    </div>
                    <input type="text" placeholder="Password">
                </div>
                <div class="FPmodal-cell">
                    <button class="button">Log in</button>
                </div>
            </div>
            <div class="FPmodal-row space-between">
                <div class="FPmodal-row-title">or</div>
                <div class="FPmodal-cell">
                    <a href="#" class="ref">
                        <img src="images/icons/apple.svg" alt="">
                        Continue with Apple
                    </a>
                </div>
                <div class="FPmodal-cell">
                    <a href="#" class="ref">
                        <img src="images/icons/google.svg" alt="">
                        Continue with Google
                    </a>
                </div>
                <div class="FPmodal-cell">
                    <a href="#" class="ref">
                        <img src="images/icons/fb.svg" alt="">
                        Continue with Facebook
                    </a>
                </div>
            </div>
            <div class="FPmodal-bottom">
                <div class="FPmodal-bottom-left">
                    Don’t have an account?
                </div>
                <div class="FPmodal-bottom-btn">
                    <a href="#" class="button">Sing up</a>
                </div>
                <div class="FPmodal-bottom-right">
                    This site is protected by reCAPTCHA and the Google <a href="#" class="link">Privacy Policy</a>  and <a href="#" class="link">Terms of Sevice</a>  apply
                </div>
            </div>
        </div>
    </div>
</final-price-layout>
