<div class="localHost">
    <div class="localHost-left">
        <img src="/assets/localHost.png" alt="">
    </div>
    <div class="localHost-right">
        <div class="localHost-title">Where local hosts provide you with the perfect vehicle for your next adventure</div>
        <div class="localHost-text">
            <p>FP is a car sharing marketplace where guests can book any car they want, wherever they want it, from a vibrant community of local hosts across the US, Canada, and the UK.</p>
            <p>Guests choose from a totally unique selection of nearby cars, while hosts earn extra money to offset the costs of car ownership.</p>
        </div>
    </div>
</div>
