<div class="discover">
    <div class="discover-title">
        Discover the world’s largest car<br> sharing marketplace
    </div>
    <div class="discover-sub-title">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </div>
    <div class="discover-content">
        <div class="discover-block">
            <div class="discover-block-description">
                <span>200</span>
                authentic users
            </div>
        </div>
        <div class="discover-block dark">
            <div class="discover-block-description">
                <span>$ 300,000</span>
                Saved
            </div>
        </div>
        <div class="discover-block">
            <div class="discover-block-description">
                <span>1000</span>
                Orders
            </div>
        </div>
    </div>
    <div class="discover-img">
        <img src="/assets/discover.png" alt="">
    </div>
</div>
