<div class="feedbacks-slider flex">
    <div class="feedback">
        <div class="feedback-left">
            <div class="feedback-left-title">testomonials</div>
            <div class="feedback-left-sub-title">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </div>
        </div>
        <div class="feedback-right">
            <div class="feedback-img">
                <img src="/assets/feedback.png" alt="">
            </div>
            <div class="feedback-right-title">Real Name</div>
            <div class="feedback-right-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries</div>
        </div>
    </div>
    <div class="feedback">
        <div class="feedback-left">
            <div class="feedback-left-title">testomonials</div>
            <div class="feedback-left-sub-title">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </div>
        </div>
        <div class="feedback-right">
            <div class="feedback-img">
                <img src="/assets/feedback.png" alt="">
            </div>
            <div class="feedback-right-title">Real Name</div>
            <div class="feedback-right-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries</div>
        </div>
    </div>
    <div class="feedback">
        <div class="feedback-left">
            <div class="feedback-left-title">testomonials</div>
            <div class="feedback-left-sub-title">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </div>
        </div>
        <div class="feedback-right">
            <div class="feedback-img">
                <img src="/assets/feedback.png" alt="">
            </div>
            <div class="feedback-right-title">Real Name</div>
            <div class="feedback-right-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries</div>
        </div>
    </div>
    <div class="feedback">
        <div class="feedback-left">
            <div class="feedback-left-title">testomonials</div>
            <div class="feedback-left-sub-title">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </div>
        </div>
        <div class="feedback-right">
            <div class="feedback-img">
                <img src="/assets/feedback.png" alt="">
            </div>
            <div class="feedback-right-title">Real Name</div>
            <div class="feedback-right-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries</div>
        </div>
    </div>
    <div class="feedback">
        <div class="feedback-left">
            <div class="feedback-left-title">testomonials</div>
            <div class="feedback-left-sub-title">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </div>
        </div>
        <div class="feedback-right">
            <div class="feedback-img">
                <img src="/assets/feedback.png" alt="">
            </div>
            <div class="feedback-right-title">Real Name</div>
            <div class="feedback-right-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries</div>
        </div>
    </div>
    <div class="feedback">
        <div class="feedback-left">
            <div class="feedback-left-title">testomonials</div>
            <div class="feedback-left-sub-title">Lorem Ipsum is simply dummy text of the printing and typesetting industry. </div>
        </div>
        <div class="feedback-right">
            <div class="feedback-img">
                <img src="/assets/feedback.png" alt="">
            </div>
            <div class="feedback-right-title">Real Name</div>
            <div class="feedback-right-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries</div>
        </div>
    </div>
</div>
