<final-price-layout>
    <div class="main-banner search-banner">
        <div class="main-banner-bottom">
            <div class="selectBlock">
                <div class="selectBlock-label">
                    <img src="/assets/icons/where.svg" alt="">
                    Where
                </div>
                <select>
                    <option value disabled selected>Choose a location</option>
                    <option>Los Angeles, CA</option>
                    <option>Los Angeles, CA2</option>
                    <option>Los Angeles, CA3</option>
                    <option>Los Angeles, CA4</option>
                </select>
            </div>

            <div class="selectBlock">
                <div class="selectBlock-label">
                    <img src="/assets/icons/calendar2.svg" alt="">
                    From
                </div>
                <select>
                    <option value disabled selected>Return date</option>
                    <option>Los Angeles, CA</option>
                    <option>Los Angeles, CA2</option>
                    <option>Los Angeles, CA3</option>
                    <option>Los Angeles, CA4</option>
                </select>
            </div>
            <button>Search</button>
        </div>

    </div>
    <div class="searchResults">
        <div class="searchResults-title">Search results...</div>
        <div class="products">
            <div class="product">
                <div class="product-img">
                    <a href="#">
                        <img src="/assets/p1.png" alt="">
                    </a>
                    <div class="product-price">
                        $84/day
                    </div>
                    <div class="product-like toggle"></div>
                </div>
                <div class="product-year">
                    <span>2018</span>
                    <img src="/assets/icons/star.svg" alt="">
                    <img src="/assets/icons/star.svg" alt="">
                    <img src="/assets/icons/star.svg" alt="">
                    <img src="/assets/icons/star.svg" alt="">
                    <img src="/assets/icons/star.svg" alt="">
                </div>
                <div class="product-title">
                    <a href="#">Mercedes-Benz CLA</a>
                </div>
                <div class="product-description">
                    <div>
                        <img src="/assets/icons/propeller.svg" alt="">
                        <p>Climate control</p>
                    </div>
                    <div>
                        <img src="/assets/icons/manual-transmission.svg" alt="">
                        <p>Auto</p>
                    </div>
                    <div>
                        <img src="/assets/icons/gas-station.svg" alt="">
                        <p>Diesel</p>
                    </div>
                    <div>
                        <img src="/assets/icons/door.svg" alt="">
                        <p>4</p>
                    </div>
                    <div>
                        <img src="/assets/icons/seat-belt.svg" alt="">
                        <p>5</p>
                    </div>
                </div>
                <div class="product-btns">
                    <a href="#" class="button">To order</a>
                    <a href="#" class="button">I want cheaper</a>
                </div>
            </div>
            <div class="product">
                <div class="product-img">
                    <a href="#">
                        <img src="/assets/p2.png" alt="">
                    </a>
                    <div class="product-price">
                        $84/day
                        <span>$107</span>
                    </div>
                    <div class="product-like active toggle"></div>
                </div>
                <div class="product-year">
                    <span>2018</span>
                    <img src="/assets/icons/star.svg" alt="">
                    <img src="/assets/icons/star.svg" alt="">
                    <img src="/assets/icons/star.svg" alt="">
                    <img src="/assets/icons/star.svg" alt="">
                    <img src="/assets/icons/star.svg" alt="">
                </div>
                <div class="product-title">
                    <a href="#">BMW X1</a>
                </div>
                <div class="product-description">
                    <div>
                        <img src="/assets/icons/propeller.svg" alt="">
                        <p>Climate control</p>
                    </div>
                    <div>
                        <img src="/assets/icons/manual-transmission.svg" alt="">
                        <p>Auto</p>
                    </div>
                    <div>
                        <img src="/assets/icons/gas-station.svg" alt="">
                        <p>Diesel</p>
                    </div>
                    <div>
                        <img src="/assets/icons/door.svg" alt="">
                        <p>4</p>
                    </div>
                    <div>
                        <img src="/assets/icons/seat-belt.svg" alt="">
                        <p>5</p>
                    </div>
                </div>
                <div class="product-btns">
                    <a href="#" class="button">To order</a>
                    <a href="#" class="button">I want cheaper</a>
                </div>
            </div>
            <div class="product">
                <div class="product-img">
                    <a href="#">
                        <img src="/assets/p3.png" alt="">
                    </a>
                    <div class="product-price">
                        $84/day
                    </div>
                    <div class="product-like toggle"></div>
                </div>
                <div class="product-year">
                    <span>2018</span>
                    <img src="/assets/icons/star.svg" alt="">
                    <img src="/assets/icons/star.svg" alt="">
                    <img src="/assets/icons/star.svg" alt="">
                    <img src="/assets/icons/star.svg" alt="">
                    <img src="/assets/icons/star.svg" alt="">
                </div>
                <div class="product-title">
                    <a href="#">Audi A3</a>
                </div>
                <div class="product-description">
                    <div>
                        <img src="/assets/icons/propeller.svg" alt="">
                        <p>Climate control</p>
                    </div>
                    <div>
                        <img src="/assets/icons/manual-transmission.svg" alt="">
                        <p>Auto</p>
                    </div>
                    <div>
                        <img src="/assets/icons/gas-station.svg" alt="">
                        <p>Diesel</p>
                    </div>
                    <div>
                        <img src="/assets/icons/door.svg" alt="">
                        <p>4</p>
                    </div>
                    <div>
                        <img src="/assets/icons/seat-belt.svg" alt="">
                        <p>5</p>
                    </div>
                </div>
                <div class="product-btns">
                    <a href="#" class="button">To order</a>
                    <a href="#" class="button">I want cheaper</a>
                </div>
            </div>
            <div class="product">
                <div class="product-img">
                    <a href="#">
                        <img src="/assets/p1.png" alt="">
                    </a>
                    <div class="product-price">
                        $84/day
                    </div>
                    <div class="product-like toggle"></div>
                </div>
                <div class="product-year">
                    <span>2018</span>
                    <img src="/assets/icons/star.svg" alt="">
                    <img src="/assets/icons/star.svg" alt="">
                    <img src="/assets/icons/star.svg" alt="">
                    <img src="/assets/icons/star.svg" alt="">
                    <img src="/assets/icons/star.svg" alt="">
                </div>
                <div class="product-title">
                    <a href="#">Mercedes-Benz CLA</a>
                </div>
                <div class="product-description">
                    <div>
                        <img src="/assets/icons/propeller.svg" alt="">
                        <p>Climate control</p>
                    </div>
                    <div>
                        <img src="/assets/icons/manual-transmission.svg" alt="">
                        <p>Auto</p>
                    </div>
                    <div>
                        <img src="/assets/icons/gas-station.svg" alt="">
                        <p>Diesel</p>
                    </div>
                    <div>
                        <img src="/assets/icons/door.svg" alt="">
                        <p>4</p>
                    </div>
                    <div>
                        <img src="/assets/icons/seat-belt.svg" alt="">
                        <p>5</p>
                    </div>
                </div>
                <div class="product-btns">
                    <a href="#" class="button">To order</a>
                    <a href="#" class="button">I want cheaper</a>
                </div>
            </div>
            <div class="product">
                <div class="product-img">
                    <a href="#">
                        <img src="/assets/p2.png" alt="">
                    </a>
                    <div class="product-price">
                        $84/day
                        <span>$107</span>
                    </div>
                    <div class="product-like active toggle"></div>
                </div>
                <div class="product-year">
                    <span>2018</span>
                    <img src="/assets/icons/star.svg" alt="">
                    <img src="/assets/icons/star.svg" alt="">
                    <img src="/assets/icons/star.svg" alt="">
                    <img src="/assets/icons/star.svg" alt="">
                    <img src="/assets/icons/star.svg" alt="">
                </div>
                <div class="product-title">
                    <a href="#">BMW X1</a>
                </div>
                <div class="product-description">
                    <div>
                        <img src="/assets/icons/propeller.svg" alt="">
                        <p>Climate control</p>
                    </div>
                    <div>
                        <img src="/assets/icons/manual-transmission.svg" alt="">
                        <p>Auto</p>
                    </div>
                    <div>
                        <img src="/assets/icons/gas-station.svg" alt="">
                        <p>Diesel</p>
                    </div>
                    <div>
                        <img src="/assets/icons/door.svg" alt="">
                        <p>4</p>
                    </div>
                    <div>
                        <img src="/assets/icons/seat-belt.svg" alt="">
                        <p>5</p>
                    </div>
                </div>
                <div class="product-btns">
                    <a href="#" class="button">To order</a>
                    <a href="#" class="button">I want cheaper</a>
                </div>
            </div>
            <div class="product">
                <div class="product-img">
                    <a href="#">
                        <img src="/assets/p3.png" alt="">
                    </a>
                    <div class="product-price">
                        $84/day
                    </div>
                    <div class="product-like toggle"></div>
                </div>
                <div class="product-year">
                    <span>2018</span>
                    <img src="/assets/icons/star.svg" alt="">
                    <img src="/assets/icons/star.svg" alt="">
                    <img src="/assets/icons/star.svg" alt="">
                    <img src="/assets/icons/star.svg" alt="">
                    <img src="/assets/icons/star.svg" alt="">
                </div>
                <div class="product-title">
                    <a href="#">Audi A3</a>
                </div>
                <div class="product-description">
                    <div>
                        <img src="/assets/icons/propeller.svg" alt="">
                        <p>Climate control</p>
                    </div>
                    <div>
                        <img src="/assets/icons/manual-transmission.svg" alt="">
                        <p>Auto</p>
                    </div>
                    <div>
                        <img src="/assets/icons/gas-station.svg" alt="">
                        <p>Diesel</p>
                    </div>
                    <div>
                        <img src="/assets/icons/door.svg" alt="">
                        <p>4</p>
                    </div>
                    <div>
                        <img src="/assets/icons/seat-belt.svg" alt="">
                        <p>5</p>
                    </div>
                </div>
                <div class="product-btns">
                    <a href="#" class="button">To order</a>
                    <a href="#" class="button">I want cheaper</a>
                </div>
            </div>
            <div class="product">
                <div class="product-img">
                    <a href="#">
                        <img src="/assets/p1.png" alt="">
                    </a>
                    <div class="product-price">
                        $84/day
                    </div>
                    <div class="product-like toggle"></div>
                </div>
                <div class="product-year">
                    <span>2018</span>
                    <img src="/assets/icons/star.svg" alt="">
                    <img src="/assets/icons/star.svg" alt="">
                    <img src="/assets/icons/star.svg" alt="">
                    <img src="/assets/icons/star.svg" alt="">
                    <img src="/assets/icons/star.svg" alt="">
                </div>
                <div class="product-title">
                    <a href="#">Mercedes-Benz CLA</a>
                </div>
                <div class="product-description">
                    <div>
                        <img src="/assets/icons/propeller.svg" alt="">
                        <p>Climate control</p>
                    </div>
                    <div>
                        <img src="/assets/icons/manual-transmission.svg" alt="">
                        <p>Auto</p>
                    </div>
                    <div>
                        <img src="/assets/icons/gas-station.svg" alt="">
                        <p>Diesel</p>
                    </div>
                    <div>
                        <img src="/assets/icons/door.svg" alt="">
                        <p>4</p>
                    </div>
                    <div>
                        <img src="/assets/icons/seat-belt.svg" alt="">
                        <p>5</p>
                    </div>
                </div>
                <div class="product-btns">
                    <a href="#" class="button">To order</a>
                    <a href="#" class="button">I want cheaper</a>
                </div>
            </div>
            <div class="product">
                <div class="product-img">
                    <a href="#">
                        <img src="/assets/p2.png" alt="">
                    </a>
                    <div class="product-price">
                        $84/day
                        <span>$107</span>
                    </div>
                    <div class="product-like active toggle"></div>
                </div>
                <div class="product-year">
                    <span>2018</span>
                    <img src="/assets/icons/star.svg" alt="">
                    <img src="/assets/icons/star.svg" alt="">
                    <img src="/assets/icons/star.svg" alt="">
                    <img src="/assets/icons/star.svg" alt="">
                    <img src="/assets/icons/star.svg" alt="">
                </div>
                <div class="product-title">
                    <a href="#">BMW X1</a>
                </div>
                <div class="product-description">
                    <div>
                        <img src="/assets/icons/propeller.svg" alt="">
                        <p>Climate control</p>
                    </div>
                    <div>
                        <img src="/assets/icons/manual-transmission.svg" alt="">
                        <p>Auto</p>
                    </div>
                    <div>
                        <img src="/assets/icons/gas-station.svg" alt="">
                        <p>Diesel</p>
                    </div>
                    <div>
                        <img src="/assets/icons/door.svg" alt="">
                        <p>4</p>
                    </div>
                    <div>
                        <img src="/assets/icons/seat-belt.svg" alt="">
                        <p>5</p>
                    </div>
                </div>
                <div class="product-btns">
                    <a href="#" class="button">To order</a>
                    <a href="#" class="button">I want cheaper</a>
                </div>
            </div>
            <div class="product">
                <div class="product-img">
                    <a href="#">
                        <img src="/assets/p3.png" alt="">
                    </a>
                    <div class="product-price">
                        $84/day
                    </div>
                    <div class="product-like toggle"></div>
                </div>
                <div class="product-year">
                    <span>2018</span>
                    <img src="/assets/icons/star.svg" alt="">
                    <img src="/assets/icons/star.svg" alt="">
                    <img src="/assets/icons/star.svg" alt="">
                    <img src="/assets/icons/star.svg" alt="">
                    <img src="/assets/icons/star.svg" alt="">
                </div>
                <div class="product-title">
                    <a href="#">Audi A3</a>
                </div>
                <div class="product-description">
                    <div>
                        <img src="/assets/icons/propeller.svg" alt="">
                        <p>Climate control</p>
                    </div>
                    <div>
                        <img src="/assets/icons/manual-transmission.svg" alt="">
                        <p>Auto</p>
                    </div>
                    <div>
                        <img src="/assets/icons/gas-station.svg" alt="">
                        <p>Diesel</p>
                    </div>
                    <div>
                        <img src="/assets/icons/door.svg" alt="">
                        <p>4</p>
                    </div>
                    <div>
                        <img src="/assets/icons/seat-belt.svg" alt="">
                        <p>5</p>
                    </div>
                </div>
                <div class="product-btns">
                    <a href="#" class="button">To order</a>
                    <a href="#" class="button">I want cheaper</a>
                </div>
            </div>
            <div class="product">
                <div class="product-img">
                    <a href="#">
                        <img src="/assets/p1.png" alt="">
                    </a>
                    <div class="product-price">
                        $84/day
                    </div>
                    <div class="product-like toggle"></div>
                </div>
                <div class="product-year">
                    <span>2018</span>
                    <img src="/assets/icons/star.svg" alt="">
                    <img src="/assets/icons/star.svg" alt="">
                    <img src="/assets/icons/star.svg" alt="">
                    <img src="/assets/icons/star.svg" alt="">
                    <img src="/assets/icons/star.svg" alt="">
                </div>
                <div class="product-title">
                    <a href="#">Mercedes-Benz CLA</a>
                </div>
                <div class="product-description">
                    <div>
                        <img src="/assets/icons/propeller.svg" alt="">
                        <p>Climate control</p>
                    </div>
                    <div>
                        <img src="/assets/icons/manual-transmission.svg" alt="">
                        <p>Auto</p>
                    </div>
                    <div>
                        <img src="/assets/icons/gas-station.svg" alt="">
                        <p>Diesel</p>
                    </div>
                    <div>
                        <img src="/assets/icons/door.svg" alt="">
                        <p>4</p>
                    </div>
                    <div>
                        <img src="/assets/icons/seat-belt.svg" alt="">
                        <p>5</p>
                    </div>
                </div>
                <div class="product-btns">
                    <a href="#" class="button">To order</a>
                    <a href="#" class="button">I want cheaper</a>
                </div>
            </div>
            <div class="product">
                <div class="product-img">
                    <a href="#">
                        <img src="/assets/p2.png" alt="">
                    </a>
                    <div class="product-price">
                        $84/day
                        <span>$107</span>
                    </div>
                    <div class="product-like active toggle"></div>
                </div>
                <div class="product-year">
                    <span>2018</span>
                    <img src="/assets/icons/star.svg" alt="">
                    <img src="/assets/icons/star.svg" alt="">
                    <img src="/assets/icons/star.svg" alt="">
                    <img src="/assets/icons/star.svg" alt="">
                    <img src="/assets/icons/star.svg" alt="">
                </div>
                <div class="product-title">
                    <a href="#">BMW X1</a>
                </div>
                <div class="product-description">
                    <div>
                        <img src="/assets/icons/propeller.svg" alt="">
                        <p>Climate control</p>
                    </div>
                    <div>
                        <img src="/assets/icons/manual-transmission.svg" alt="">
                        <p>Auto</p>
                    </div>
                    <div>
                        <img src="/assets/icons/gas-station.svg" alt="">
                        <p>Diesel</p>
                    </div>
                    <div>
                        <img src="/assets/icons/door.svg" alt="">
                        <p>4</p>
                    </div>
                    <div>
                        <img src="/assets/icons/seat-belt.svg" alt="">
                        <p>5</p>
                    </div>
                </div>
                <div class="product-btns">
                    <a href="#" class="button">To order</a>
                    <a href="#" class="button">I want cheaper</a>
                </div>
            </div>
            <div class="product">
                <div class="product-img">
                    <a href="#">
                        <img src="/assets/p3.png" alt="">
                    </a>
                    <div class="product-price">
                        $84/day
                    </div>
                    <div class="product-like toggle"></div>
                </div>
                <div class="product-year">
                    <span>2018</span>
                    <img src="/assets/icons/star.svg" alt="">
                    <img src="/assets/icons/star.svg" alt="">
                    <img src="/assets/icons/star.svg" alt="">
                    <img src="/assets/icons/star.svg" alt="">
                    <img src="/assets/icons/star.svg" alt="">
                </div>
                <div class="product-title">
                    <a href="#">Audi A3</a>
                </div>
                <div class="product-description">
                    <div>
                        <img src="/assets/icons/propeller.svg" alt="">
                        <p>Climate control</p>
                    </div>
                    <div>
                        <img src="/assets/icons/manual-transmission.svg" alt="">
                        <p>Auto</p>
                    </div>
                    <div>
                        <img src="/assets/icons/gas-station.svg" alt="">
                        <p>Diesel</p>
                    </div>
                    <div>
                        <img src="/assets/icons/door.svg" alt="">
                        <p>4</p>
                    </div>
                    <div>
                        <img src="/assets/icons/seat-belt.svg" alt="">
                        <p>5</p>
                    </div>
                </div>
                <div class="product-btns">
                    <a href="#" class="button">To order</a>
                    <a href="#" class="button">I want cheaper</a>
                </div>
            </div>
            <div class="product">
                <div class="product-img">
                    <a href="#">
                        <img src="/assets/p1.png" alt="">
                    </a>
                    <div class="product-price">
                        $84/day
                    </div>
                    <div class="product-like toggle"></div>
                </div>
                <div class="product-year">
                    <span>2018</span>
                    <img src="/assets/icons/star.svg" alt="">
                    <img src="/assets/icons/star.svg" alt="">
                    <img src="/assets/icons/star.svg" alt="">
                    <img src="/assets/icons/star.svg" alt="">
                    <img src="/assets/icons/star.svg" alt="">
                </div>
                <div class="product-title">
                    <a href="#">Mercedes-Benz CLA</a>
                </div>
                <div class="product-description">
                    <div>
                        <img src="/assets/icons/propeller.svg" alt="">
                        <p>Climate control</p>
                    </div>
                    <div>
                        <img src="/assets/icons/manual-transmission.svg" alt="">
                        <p>Auto</p>
                    </div>
                    <div>
                        <img src="/assets/icons/gas-station.svg" alt="">
                        <p>Diesel</p>
                    </div>
                    <div>
                        <img src="/assets/icons/door.svg" alt="">
                        <p>4</p>
                    </div>
                    <div>
                        <img src="/assets/icons/seat-belt.svg" alt="">
                        <p>5</p>
                    </div>
                </div>
                <div class="product-btns">
                    <a href="#" class="button">To order</a>
                    <a href="#" class="button">I want cheaper</a>
                </div>
            </div>
            <div class="product">
                <div class="product-img">
                    <a href="#">
                        <img src="/assets/p2.png" alt="">
                    </a>
                    <div class="product-price">
                        $84/day
                        <span>$107</span>
                    </div>
                    <div class="product-like active toggle"></div>
                </div>
                <div class="product-year">
                    <span>2018</span>
                    <img src="/assets/icons/star.svg" alt="">
                    <img src="/assets/icons/star.svg" alt="">
                    <img src="/assets/icons/star.svg" alt="">
                    <img src="/assets/icons/star.svg" alt="">
                    <img src="/assets/icons/star.svg" alt="">
                </div>
                <div class="product-title">
                    <a href="#">BMW X1</a>
                </div>
                <div class="product-description">
                    <div>
                        <img src="/assets/icons/propeller.svg" alt="">
                        <p>Climate control</p>
                    </div>
                    <div>
                        <img src="/assets/icons/manual-transmission.svg" alt="">
                        <p>Auto</p>
                    </div>
                    <div>
                        <img src="/assets/icons/gas-station.svg" alt="">
                        <p>Diesel</p>
                    </div>
                    <div>
                        <img src="/assets/icons/door.svg" alt="">
                        <p>4</p>
                    </div>
                    <div>
                        <img src="/assets/icons/seat-belt.svg" alt="">
                        <p>5</p>
                    </div>
                </div>
                <div class="product-btns">
                    <a href="#" class="button">To order</a>
                    <a href="#" class="button">I want cheaper</a>
                </div>
            </div>
            <div class="product">
                <div class="product-img">
                    <a href="#">
                        <img src="/assets/p3.png" alt="">
                    </a>
                    <div class="product-price">
                        $84/day
                    </div>
                    <div class="product-like toggle"></div>
                </div>
                <div class="product-year">
                    <span>2018</span>
                    <img src="/assets/icons/star.svg" alt="">
                    <img src="/assets/icons/star.svg" alt="">
                    <img src="/assets/icons/star.svg" alt="">
                    <img src="/assets/icons/star.svg" alt="">
                    <img src="/assets/icons/star.svg" alt="">
                </div>
                <div class="product-title">
                    <a href="#">Audi A3</a>
                </div>
                <div class="product-description">
                    <div>
                        <img src="/assets/icons/propeller.svg" alt="">
                        <p>Climate control</p>
                    </div>
                    <div>
                        <img src="/assets/icons/manual-transmission.svg" alt="">
                        <p>Auto</p>
                    </div>
                    <div>
                        <img src="/assets/icons/gas-station.svg" alt="">
                        <p>Diesel</p>
                    </div>
                    <div>
                        <img src="/assets/icons/door.svg" alt="">
                        <p>4</p>
                    </div>
                    <div>
                        <img src="/assets/icons/seat-belt.svg" alt="">
                        <p>5</p>
                    </div>
                </div>
                <div class="product-btns">
                    <a href="#" class="button">To order</a>
                    <a href="#" class="button">I want cheaper</a>
                </div>
            </div>
        </div>
    </div>
</final-price-layout>
